.product-store {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #fff;
       


}.product-store > .title{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 50px;
        
}
.product-store > .item {
    font-size: 20px;
    margin-bottom: 28px;
}
    
.product-store > .item,-infor {
    width: 200px;
    
}

.product-store > .item.-last {
    margin-bottom: 72px;

}

.product-store .contrast {
    text-transform: uppercase;
    float: left;
}

.product-store > .info {
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    margin-bottom: 30px;
    
}

.product-store .action {
    color: inherit;
    text-decoration: none;

}

.estrela {
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 25px;


}